* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  /* height: 100vh; */
  padding-left: 10vw;
  padding-right: 10vw;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  padding: 4rem;
}

.header h1 {
  font-size: 5rem;
}

i {
  color: red;
  font-size: 5rem;
}

.stats {
  border-top: 2.5px solid red;
  border-bottom: 2.5px solid red;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;

  width: 100%;
}

.read span,
.unread span {
  color: red;
  font-size: 3rem;
}

.read,
.unread {
  font-size: 2rem;
  font-weight: bold;
}

.newBook {
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 2.4rem;
  border: 2.5px solid red;
  border-radius: 1rem;
  color: rgb(249, 44, 44);
  background-color: transparent;
  cursor: pointer;
}

.newBook:hover {
  background-color: red;
  color: #fff;
  transition: all 0.3s;
}

.libContainer {
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(25rem, auto));

  position: relative;
  padding: 4em;

  /* border: 1px solid red; */
  height: 100%;
  width: 100%;
}

.form {
  background-color: #fff;
  font-size: 1.8rem;
  border: 1px solid #f8f9fa;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  position: absolute;
  padding: 2rem;
  border-radius: 5px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  box-shadow: 0px 2px 6px rgba(85, 85, 85, 0.47);
}

label {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 2.4rem;
}

#title,
#author,
#pages,
#status {
  font-size: 2rem;
  border-radius: 2px;
  padding: 0.4em;
  color: #334155;
  font-weight: 500;

  border: 2px solid #ced4da;
}

#title:focus,
#author:focus,
#pages:focus,
#status:focus {
  outline: 2px solid #69db7c;
}

.submit-btn {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1.5;
  color: white;
  padding: 1rem 0;
  border: none;
  border-radius: 5px;
  background-color: red;
}

.hidden {
  display: none;
}

.book-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  border-radius: 10px;

  box-shadow: 0px 1px 4px rgba(85, 85, 85, 0.47);
  /* background-color: #fff; */
}

.book-card .title {
  font-size: 2.4rem;
  font-style: italic;
  color: #1e293be0;
}

.book-card .author,
.pages,
.status {
  font-size: 1.6rem;
  align-self: flex-start;
  color: #1e293b;
  font-weight: 540;
}

.book-card .delBtn,
.status-btn {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 0.5rem 1rem;

  text-transform: uppercase;

  align-self: flex-start;
  border: 2px solid red;
  border-radius: 1rem;
  color: rgb(249, 44, 44);
  background-color: transparent;
  cursor: pointer;
}

.book-card .delBtn:hover,
.status-btn:hover {
  background-color: red;
  color: #fff;
  transition: all 0.3s;
}
