*{
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    margin: 25px;
}

.bookCard{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    border: 2px solid blue;
    max-width: 300px;
    margin: 25px 25px;
    padding: 10px 10px;
}

form{
    position: absolute;
    background-color: powderblue;
    border: 2px solid plum;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    max-width: 250px;
    margin: 25px;
}

label{
    font-size: 1.5em;
    font-weight: bold;
}